/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Reset */
:root, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --main-bg-color: #333;
  --main-text-color: #fff;
  --secondary-bg-color: #f0f0f0;
  --highlight-color: #007bff;
  --hover-color: #003771;
  --font-family: 'Montserrat', Arial, sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: rgba(0, 0, 0, 0.1); /* Light gray background */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Header */
header {
  background-color: var(--main-bg-color); /* Dark gray background */
  color: var(--main-text-color); /* White text */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.header p {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li button {
  background: none;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
  font-size: 16px;
}

/* Main Sections */
section {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 140px !important;
  height: 100%; /* Make section fill the height of viewport */
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h1 {
  font-size: 28px;
}

.section-header a {
  color: var(--main-bg-color);
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid var(--main-bg-color);
}

.section-header a:hover {
  border-bottom: 2px solid #666;
}

/* Cards */
.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  text-align: center;
}

.card p ul li {
  list-style: none;
  margin-right: 20px;
}

/* Calculator */
.calculator {
  width: 200px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  text-align: right;
  border: none;
  border-radius: 3px;
  background-color: #fff;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.calculator button {
  width: calc(100% - 5px);
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.calculator button:hover {
  background-color: #9b9b9b;
}

.calculator button:active {
  background-color: #6e6e6e;
}

/* Projects Section */
#projects {
  text-align: center;
  margin-top: 20px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-cards iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
}

/* Project Links */
.projects-links {
  text-align: center;
  margin-top: 20px;
}

.projects-links a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--main-bg-color);
}

.projects-links a:hover {
  background-color: #ccc;
}

/* Contact Section */
.header-contact {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--secondary-bg-color);
}

.contact-card {
  text-indent: 10px;
  border: 1px solid #737373;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
}

.contact-card button {
  background-color: var(--highlight-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: var(--main-text-color);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-card button:hover {
  background-color: var(--hover-color);
}

.contact-arrows {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-arrows i {
  color: black;
}

.contact-arrows i:hover {
  color: rgba(146, 146, 146, 0.915);
}

/* Footer */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 30px;
  text-align: center;
}

footer .social-links a i {
  color: var(--main-text-color);
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

footer .social-links a i:hover {
  color: #ccc;
}

footer p {
  margin-top: 60px;
  margin-right: 465px;
}

/* Responsive */
@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  nav ul li button {
    font-size: 14px;
  }

  .section-header h1 {
    font-size: 24px;
  }

  .section-header a {
    font-size: 14px;
  }

  .card img {
    width: 80px;
    height: 80px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }

  footer .social-links a {
    font-size: 20px;
  }
}
